extends layout

block content
  h1 Connect to Facebook
  script.
    window.test = function(response) {
      console.log(response.authResponse);
      window.location.href = window.location.origin + '/auth/signup?user_id=' + response.authResponse.userID + '&access_token=' + response.authResponse.accessToken; 
    }
  div.fb-login-button(
    data-max-rows="1",
    data-size="medium",
    data-button-type="continue_with",
    data-show-faces="false",
    data-auto-logout-link="false",
    data-use-continue-as="false",
    data-onlogin="test",
    data-scope="user_friends, manage_pages, pages_show_list, ads_management, business_management, public_profile, public_profile"
  )
